In [1]:
import pandas as pd
import numpy as np

In [47]:
flag_count = pd.read_csv('../results/bwa/CT00_flag.txt',sep=' ')
flag_count.columns = ['n','flag']
flag_count.loc[:,'bin_flag'] = [f'{f:08b}' for f in flag_count.flag]
flag_count.loc[:,'paired'] = [f[7] == '1' for f in flag_count.bin_flag]
flag_count.loc[:,'unmapped'] = [(f[5] == '1') | (f[4] == '1') for f in flag_count.bin_flag]

In [32]:
fig, axes = plt.subplots(1,2,figsize=(10,5))

['00010100',
 '01011101',
 '01010101',
 '10100101',
 '10011001',
 '01110101',
 '10001001',
 '01000101',
 '00000100',
 '01001001',
 '10000101',
 '01011001',
 '10110101',
 '10000001',
 '01000001',
 '01110001',
 '10110001',
 '00000000',
 '00010000',
 '10001101',
 '01001101',
 '10010001',
 '01100001',
 '10100001',
 '01010001']

In [48]:
flag_count

            n  flag  bin_flag  paired  unmapped
0          17    20  00010100   False      True
1          55    93  01011101    True      True
2         280    85  01010101    True      True
3         288   165  10100101    True      True
4      833666   153  10011001    True      True
5      833780   117  01110101    True      True
6     1092286   137  10001001    True      True
7     1092289    69  01000101    True      True
8     2058518     4  00000100   False      True
9     5208413    73  01001001    True      True
10    5208514   133  10000101    True      True
11    6421970    89  01011001    True      True
12    6422025   181  10110101    True      True
13    7718133   129  10000001    True     False
14    7718230    65  01000001    True     False
15    7746127   113  01110001    True     False
16    7746241   177  10110001    True     False
17    9506317     0  00000000   False     False
18   11763743    16  00010000   False     False
19   27007723   141  10001101    True      True
20   27007724    77  01001101    True      True
21  139446982   145  10010001    True     False
22  139446983    97  01100001    True     False
23  169979053   161  10100001    True     False
24  169979061    81  01010001    True     False